.block-betw-section,
.block-betw-section-2{
    display: flex;
    width: 100%;
    background-color: #BCCEDA;
}

.block-betw-section{
    height: 100px;
}

.block-betw-section-2{
    height: 30px;
}

@media (max-width: 425px){
    .block-betw-section-2{
        display: none;
    }
}